*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open-sans", sans-serif;
  background-color: gray;
  color: #fff;
}

.header {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img {
  width: 6.3rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}

.header__title {
  display: inline-block;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #000a;
  border: 1px solid #fffa;
}

ul {
  color: white;
   list-style: none; 
  text-align: center;
}

a {
  text-decoration: none;
}
