*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Open-sans", sans-serif;
  color: #fff;
  background: no-repeat center center url("../assets/img_1.jpg");
  background-size: cover;
}

.main {
  opacity: 0;
  animation: fade-in 2.5s forwards;
  animation-delay: 0.5s;
}

.main > li {
  animation-delay: 0.5s;
  animation: fade-in-item 2.5s ease-in-out; /* Agrega animación a los elementos li */
}

.header {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img {
  width: 6rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 1.15rem;
  box-shadow: rgb(250 250 250 / 24%) 4px 4px 8px 0px;
}

.header__title {
  display: inline-block;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #444a;
  border: 1px solid #fffa;
  box-shadow: rgb(250 250 250 / 24%) 0px 2px 8px 0px;
  backdrop-filter: blur(30px);
}

.links {
  color: white;
  list-style: none;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.1rem;
  max-width: 31rem;
}

.links > li {
  background-color: #aaa7;
  display: block;
  margin: 1.5rem 0;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.links > li:hover {
  background-color: #fff8;
}

.links li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 1.5rem;
  padding: 0.9rem;
  color: #eee;
}

.logo {
  width: 25px;
}

.homepage {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(293deg)
    brightness(103%) contrast(103%);
}

.twitter {
  filter: invert(40%) sepia(32%) saturate(6963%) hue-rotate(193deg)
    brightness(103%) contrast(105%);
}

.youtube {
  filter: invert(21%) sepia(71%) saturate(6803%) hue-rotate(355deg)
    brightness(92%) contrast(92%);
}

/*---------------------- Keyframe ----------------------*/

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(10px); /* Desenfoque inicial */
  }

  to {
    opacity: 1;
    filter: blur(0); /* Sin desenfoque */
  }
}

@keyframes fade-in-item {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
