---
interface Props {
	src: string;
	socialNetwork: string;
	href: string;
	alt: string;
}
const { src, socialNetwork, href, alt } = Astro.props;
---

<li class="nav--list">
	<img src={src} alt={alt} class:list={[alt, "logo"]} />
	<a href={href} class="nav--list-link">
		{socialNetwork}
	</a>
</li>
<style>
	.nav--list {
		background-color: #aaa7;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1.5rem 0;
		border-radius: 20rem;
		overflow: hidden;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);

		&:hover {
			background-color: #fff8;
			cursor: pointer;
		}

		.nav--list-link {
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			gap: 1.5rem;
			padding: 0.9rem;
			color: #eee;
		}

		.website {
			filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(293deg)
				brightness(103%) contrast(103%);
		}

		.logo {
			width: 25px;
		}
	}
</style>
