---
interface Props {
	src: string;
	socialNetwork: string;
	href: string;
	alt: string;
}
const { src, socialNetwork, href, alt } = Astro.props;
---

<li class="nav--list">
	<a href={href} class="nav--list-link">
		<img src={src} alt={alt} class:list={[alt, "logo"]} />
		<p>
			{socialNetwork}
		</p>
	</a>
</li>

<style lang="scss">
	.nav--list a {
		background-color: #aaa7;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1.5rem auto;
		border-radius: 20rem;

		overflow: hidden;
		backdrop-filter: blur(10px);
		text-decoration: none;
		gap: 1rem;
		padding: 0.9rem;
		color: #eee;
		-webkit-backdrop-filter: blur(10px);

		&:hover {
			background-color: #fff8;
			cursor: pointer;
		}

		.website {
			filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(293deg)
				brightness(103%) contrast(103%);
		}

		.logo {
			width: 25px;
		}
	}
</style>
