---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
			sizes="32x32"
		/>
		<!-- <link rel="icon" type="image/png" href="/favicon.png" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*,
	*::before,
	*::after {
		margin: 0;
		box-sizing: border-box;
	}
	:root {
		--ff: "system-ui, sans-serif;";
	}

	html {
		font-family: var(--ff);
		color-scheme: light dark;
	}

	body {
		background: no-repeat center center url("/assets/background_image.webp");
		background-size: cover;
	}

	@media screen and (max-width: 450px) {
		body {
			height: 100vh;
			height: 100svh;
		}
	}
</style>
